$c-green: #00807f;

.cart-table {
  td,
  th {
    padding: 5px 15px;
  }
}

.validate-button {
  border: 1px solid white !important;
  background: #fff !important;
  color: $c-green !important;
  height: 38px;
  border-radius: 19px !important;
  padding: 0px 30px;
  text-transform: uppercase;
  &:not(:disabled) {
    &:hover {
      border-color: $c-green !important;
      background: $c-green !important;
      color: white !important;
    }
  }

  &:disabled {
    opacity: 0.5;
  }
}
